@page "/fetchdata"
@using BlazorWasm.Shared
@using System.Text.Json;
@inject HttpClient Http

@attribute [Authorize]

<PageTitle>Test API Employe</PageTitle>

<h1>Gestion des employes</h1>
<strong>Voir le code de l'API sur GitHub<br /><a href='https://github.com/donngola/gestion_employeV2'> voir code</a></strong>

<p>Requête GET sur le point de terminaison <id>api/Employes/4</id></p>

@if (reponse == null)
{
	<p><em>Chargement...</em></p>
}
else
{
	<h5>Résultat :</h5>
	<pre>@reponse</pre>
}

@code {
	private string? reponse;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			reponse = await Http.GetStringAsync("/Employes/4");
			reponse = JsonSerializer.Serialize(JsonDocument.Parse(reponse),
							new JsonSerializerOptions { WriteIndented = true });
		}
		catch (HttpRequestException e)
		{
			reponse = e.Message;
		}
	}
}